---
layout: container
title: Binding types | Opis Container
keywords: php, container, dependency injection, abstractization
description: Learn how the bind abstract types to concrete types
active: bind
---
<h1><strong>Binding types</strong></h1>

<p>
    Binding an abstract type to a concrete type is done using the <code>bind</code> method.
    The <code>bind</code> method takes two arguments: a string representing the abstract type
    and another string representing the concrete type. 
</p>

{% highlight php startinline %}
use Opis\Container\Container;

interface GreetingInterface
{
    public function greet();
}

class Greeting implement GreetingInterface
{
    public function greet()
    {
        return 'Greetings man in white!'
    }
}

$container = new Container();
$container->bind('GreetingInterface', 'Greeting');

echo $container('GreetingInterface')->greet(); //> Greetings man in white!
{% endhighlight %}

<p>
    If the second argument is omitted, the type passed as the first argument will be both abstract and concrete type.
</p>

{% highlight php startinline %}

$container->bind('SomeType');
//same as
$container->bind('SomeType', 'SomeType');

{% endhighlight %}

<p>
    Alternatively, you can pass as the second argument to the <code>bind</code> method, an anonymous
    callback function that will be used to resolve the abstract type. The callback will receive as
    arguments the container's instance and an array of values that can be further used as arguments
    to instantiate the concrete type.
</p>


{% highlight php startinline %}
use Opis\Container\Container;

interface GreetingInterface
{
    public function greet();
}

class Greeting implement GreetingInterface
{
    protected $greetingText;
    
    public function __construct($text)
    {
        $this->greetingText = $text;
    }
    
    public function greet()
    {
        return $this->greetingText;
    }
}

$container = new Container();
$container->bind('GreetingInterface', function($container, $args){
    
    if(!isset($args[0]))
    {
        $args[0] = 'Greetings man in white!';
    }
    
    return new Greeting($args[0]);
});

echo $container('GreetingInterface')->greet(); //> Greetings man in white!
echo $container('GreetingInterface', array('Hello World!'))->greet(); //> Hello World!

{% endhighlight %}

<p>
    Once an abstract type was bound to a concrete type, it will be automatically resolved
    every time we use the container to instantiate a another type that have that abstract
    type as a dependency.
</p>

{% highlight php startinline %}

class Stewie
{
    protected $greetings;
    
    public function __construct(GreetingInterface $greetings)
    {
        $this->greetings = $greetings;
    }
    
    public function talk()
    {
        return $this->greetings->greet();
    }
}

echo $container('Stewie')->talk(); //> Greetings man in white!

{% endhighlight %}

{% include subtitle.html value="Singletons" %}

<p>
    Occasionally is desirable that some types to be resolved once, and the same object to be returned on subsequent calls into the container.
    To achieve this behavior, simply bind the abstract type using the <code>singleton</code> method.
    This method takes same arguments as the <code>bind</code> method.
</p>
{% highlight php startinline %}
use Opis\Container\Container;

class Counter
{
    protected $count = 0;
    
    public function increment()
    {
        return $this->count++;
    }
}

$container = new Container();

$container->singleton('Counter');

echo $container('Counter')->increment() //> 0;
echo $container('Counter')->increment() //> 1;
echo $container('Counter')->increment() //> 2;
{% endhighlight %}


{% include subtitle.html value="Setters" %}

<p>
    After a specified type was resolved, the container allows you to manipulate the resulted object by defining one or more setters.
    Defining a setter is done by calling the <code>setter</code> method and passing an anonymous function callback as an argument
    to the method. The callback has two arguments: the instance of the resolved type and the instance of the container.
</p>

{% highlight php startinline %}
use Opis\Container\Container;

interface GreetingInterface
{
    public function greet();
}

class Greeting implement GreetingInterface
{
    protected $text;
    
    public function greet()
    {
        return $this->text;
    }
    
    public function setText($value)
    {
        $this->text = $value;
    }
}

$container = new Container();
$container->bind('GreetingInterface', 'Greeting')
          ->setter(function($instance, $container){
                $instance->setText('Greetings man in white!');
          });
          
echo $container('GreetingInterface')->greet(); //> Greetings man in white!
{% endhighlight %}

