<ul class="media-list">
{% for repository in site.github.public_repositories %}
  {% if include.hide contains repository.name %}
  {% else %}
  <li class="media">
    <div class="media-body">
      <div class="media-heading">
        <h4>
          {% if include.own_link contains repository.name %}
          <a href="/{{repository.name}}" title="{{repository.full_name}}">
          {% else %}
          <a href="{{repository.html_url}}" title="{{repository.full_name}}" target="_blank">
          {% endif %}
            <span class="media-object fa fa-code-fork text-default"></span>
            <span>{{ repository.name | capitalize | replace: '-', ' '}}</span>
          </a>
        </h4>
      </div>
      {{repository.description}}
    </div>
  </li>
  {% endif %}
{% endfor %}
</ul>