{% if include.versions and include.versions.size > 1 %}
<div class="dropdown-versions" id="{{include.id}}" onclick="toggleDropdown('{{include.id}}')">
    <div class="version-name">
        {{ include.versions[include.current].title }}
    </div>
    <ul>
        {% for version in include.versions %}
        {% if version[0] != include.current %}
        <li><a href="{{include.prefix}}{{version[1].path}}">{{version[1].title}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}