---
layout: database
title: Connections | Opis Database
keywords: php, database, abstraction, query builder, schema builder
description: Learn how to define connections and how to connect to a database
active: connections
---
<h1><strong>Connections</strong></h1>
<p>
    To establish a connection to a database you must create an instance of <code>Opis\Database\Connection</code> class.
    The constructor of this class accepts parameters for specifying the <a href="http://en.wikipedia.org/wiki/Data_source_name" target="_blank" data-toggle="tooltip" title="Data source name">DSN</a>
    and optionally for the username and password(if any).
</p>
{% highlight php startinline %}
use Opis\Database\Connection;
use Opis\Database\Database;

$connection = new Connection('mysql:host=localhost;dbname=test', 'username', 'password');

$db = new Database($connection);
{% endhighlight %}
<p>
    You can also create a connection by using the <code>create</code> static method
    of <code>Opid\Database\Connection</code> class.
</p>
{% highlight php startinline %}
use Opis\Database\Connection;

$connection = Connection::create('mysql:host=localhost;dbname=test', 'username', 'password');
{% endhighlight %}

{% include subtitle.html anchor="Options" value="Connection options" %}

<p>
    The <a href="http://en.wikipedia.org/wiki/Data_source_name" target="_blank" data-toggle="tooltip" title="Data source name">DSN</a>,
    the username and the password provided when instantiating a new  <code>Opis\Database\Connection</code> class,
    will be further used to build a <code>PDO</code> object that will actually establish a connection to the database.
    <strong>Opis Database</strong> allows you to specify options for the <code>PDO</code> object by calling the <code>option</code> method.
</p>

{% highlight php startinline %}
$connection = Connection::create($dsn, $user, $password)
                        ->option(PDO::ATTR_DEFAULT_FETCH_MODE, PDO::FETCH_OBJ)
                        ->option(PDO::ATTR_STRINGIFY_FETCHES, false);
{% endhighlight %}
<p>
    Setting multiple options simultaneously is done by calling the <code>options</code> method
    and passing as an argument an array of options.
</p>
{% highlight php startinline %}
$connection = Connection::create($dsn, $user, $password)
                        ->options(array(
                            PDO::ATTR_DEFAULT_FETCH_MODE => PDO::FETCH_OBJ,
                            PDO::ATTR_STRINGIFY_FETCHES => false
                        ));
{% endhighlight %}
<p>
    Making a connection persistent is done by using the <code>persistent</code> method.
</p>
{% highlight php startinline %}
$connection = Connection::create($dsn, $user, $password)
                        ->persistent();
{% endhighlight %}
<p>
    You can keep a log  with all of the queries sent to a database by calling the <code>logQueries</code> method.
    Retrieving the list of logged queries is done using the <code>getLog</code> method.
</p>
{% highlight php startinline %}
$connection = Connection::create($dsn, $user, $password)
                        ->logQueries();

//Your queries...

foreach($connection->getLog() as $entry)
{
    echo $entry;
}
{% endhighlight %}

<p>
    You also have the posibilitty to specify a list of commands that will be executed after connecting to
    a database by using the <code>initCommand</code> method.
</p>

{% highlight php startinline %}
$connection = Connection::create($dsn, $user, $password)
                        ->initCommand('SET NAMES UTF-8');
{% endhighlight %}

{% include subtitle.html anchor="DSN" value="DSN builder" %}

<p>
    <strong>Opis Database</strong> provides a <a href="http://en.wikipedia.org/wiki/Data_source_name" target="_blank" data-toggle="tooltip" title="Data source name">DSN</a>
    builder that will help you to construct a database source string by using a set of helper methods from the <code>Opid\Database\DSN</code> class.
</p>
<p>
    To build a DSN for MySQL call the <code>mysql</code> static method and provide as an argument the
    a database name.
</p>
{% highlight php startinline %}
use Opis\Database\DSN;
use Opis\Database\Connection;

$dsn = DSN::mysq('mydatabase');

$connection = new Connection((string) $dsn, $user, $password);
{% endhighlight %}

<p>
    The resulting DSN string will be <code>mysql:host=localhost;port=3306;dbname=mydatabase</code>.
    If you want to change the host name, the port number or if you want to specify a charset, you can
    do so by using the <code>host</code> method, the <code>port</code> method and respectively the
    <code>charset</code> method.
</p>

{% highlight php startinline %}
use Opis\Database\DSN;

$dsn = DSN::mysq('mydatabase')->host('127.0.0.2')->port('1234')->charset('UTF8');
{% endhighlight %}

<p>
    The resulting DSN string will be <code>mysql:host=127.0.0.2;port=1234;dbname=mydatabase;charset=UTF8</code>.
</p>

<p class="well text-info">
    <strong><span class="fa fa-info-circle"></span> Remember!</strong>
    The <code>host</code>, <code>port</code> and <code>charset</code> methods ar common to all DSN builders.
</p>

<p>
    Creating a DSN for PostgreSQL is done using the <code>postgreSQL</code> static method.
</p>
{% highlight php startinline %}
use Opis\Database\DSN;

$dsn = DSN::postgreSQL('mydatabase');
{% endhighlight %}

<p>
    The resulting DSN will be <code>pgsql:host=localhost;port=5432;dbname=mydatabase</code>.
</p>

<p class="well text-primary">
    <strong><span class="fa fa-pencil"></span> TODO:</strong>
    Describe how to build DSNs for Microsoft SQL, IBM DB2, Oracle, Firebird and SQLite databases.
</p>

{% include tooltips.html %}