---
layout: database
title: Connections | Opis Database
keywords: php, database, abstraction, query builder, schema builder
description: Learn how to define connections and how to connect to a database
active: connections
---
<h1><strong>Connections</strong></h1>
<p>
    In order to be able to manipulate records from a database a connection must be created first.
    A connection can be created by using the helper methods provided by the <code>Opis\Database\Connection</code> class.
</p>
<p>
    All connection objects are instances of a class that extends <code>Opis\Database\Connection</code>
    and each instance has an associated <a href="http://en.wikipedia.org/wiki/Data_source_name" target="_blank" data-toggle="tooltip" title="Data source name">DSN</a>,
    an associated <code>PDO</code> object and an associated compiler that extends <code>Opis\Database\SQL\Compiler</code>
    and is used to build all commands that are sent to a database.
</p>
<p>
    The role of the connection class is to provide a set of methods that will be used to build a valid
    <a href="http://en.wikipedia.org/wiki/Data_source_name" target="_blank" data-toggle="tooltip" title="Data source name">DSN</a>.
    The resulting <a href="http://en.wikipedia.org/wiki/Data_source_name" target="_blank" data-toggle="tooltip" title="Data source name">DSN</a> string
    will be finally used to construct the associated <code>PDO</code> object that will actually establish a connection to the specified database.
</p>

{% include subtitle.html anchor="generic-connections" value="Generic connections" %}

<p>
    A generic connection is a connection type where the user must provide the full
    <a href="http://en.wikipedia.org/wiki/Data_source_name" target="_blank" data-toggle="tooltip" title="Data source name">DSN</a>
    in order to establish a connection to a database.
</p>
{% highlight php startinline %}
use Opis\Database\Connection;
use Opis\Database\Database;

$connection = Connection::generic('mysql:host=localhost;dbname=test',
                                  'username',
                                  'password');

$db = new Database($connection);
{% endhighlight %}
<p>
    Once the connection is established, <strong>Opis Database</strong> will try to figure out itself
    what's the most appropriate compiler to be used for building queries.
</p>
<p>
If you have created a new compiler or extended an existing one, you can associated that compiler
with a generic connection by calling the <code>setCompiler</code> method and passing as an argument a callback function
that will return a new instance of your compiler.
</p>
{% highlight php startinline %}
$connection = Connection::generic('mysql:host=localhost;dbname=test',
                                  'username',
                                  'password')
                        ->setCompiler(function(){
                            return new MyCustomCompiler();
                        });
{% endhighlight %}

{% include subtitle.html anchor="specialized-connections" value="Specialized connections" %}

<p>
    A specialized connection targets a specific database by providing a set of helper methods that can be
    used to build a valid
    <a href="http://en.wikipedia.org/wiki/Data_source_name" target="_blank" data-toggle="tooltip" title="Data source name">DSN</a>
    for that specific database.
    <strong>Opis Colibri</strong> provides specialized connections for the following databases:
    MySQL, PostgreSQL, Microsoft SQL Server, Oracle, IBM DB2, Firebird, SQLite.
</p>

{% include subtitle.html anchor="MySQL" value="MySQL" h=4 %}

<p>
    Connecting to a MySQL database is done using the <code>mysql</code> method. The method accepts two
    parameters representing the user name and the password for that database. If you haven't setup a password
    for your username, you can pass an empty string or <code>null</code> as a second parameter.
</p>

{% highlight php startinline %}
use Opis\Database\Connection

$connection = Connection::mysql('username', 'password')
                        ->database('my_database')
                        ->host('localhost')
                        ->port(3306);
{% endhighlight %}

<p>
    Specifying a database source is mandatory and is done using the <code>database</code> method.
    Setting a host or a port number is optional. If the host or port number were not specified,
    <strong>Opis Colibri</strong> will assume <code>localhost</code> for host and <code>3306</code> for
    port number.
</p>

{% include subtitle.html anchor="PostgreSQL" value="PostgreSQL" h=4 %}

<p>
    Connecting to a PostgreSQL database is done using the <code>postgreSQL</code> method.
</p>

{% highlight php startinline %}
use Opis\Database\Connection

$connection = Connection::postgreSQL('username', 'password')
                        ->database('my_database')
                        ->host('localhost')
                        ->port(5432);
{% endhighlight %}
<p>
    If the host or port number were not specified, <strong>Opis Colibri</strong> will assume
    <code>localhost</code> for host and <code>5432</code> for port number.
    Specifying a database source is mandatory.
</p>

{% include tooltips.html %}