---
layout: database
title: Filter records | Opis Database
keywords: php, database, abstraction, query builder, schema builder
description: Learn how to filter records
active: filter
---
<h1><strong>Filters</strong></h1>

<p>
    Filtering records is one of the most important and intensively used operation in SQL.
    <strong>Opis Database</strong> aims to make data filtering an easy task for the developers,
    by implementing a set of targeted methods capable of simplifying the filtering process.
</p>

<p>
    Adding a filtering condition is done by using the <code>where</code> method in conjunction with one of the
    following methods: <code>is</code> or <code>eq</code>, <code>isNot</code> or <code>ne</code>,
    <code>lessThan</code> or <code>lt</code>,<code>greaterThan</code> or <code>gt</code>,
    <code>atLeast</code> or <code>gte</code>,
    <code>atMost</code> or <code>lte</code>,
    <code>between</code>, <code>notBetween</code>, <code>in</code>, <code>notIn</code>,
    <code>like</code>, <code>notLike</code>, <code>isNull</code> and <code>notNull</code>.
</p>

{% include subtitle.html anchor="is" value="The <em>is</em> method" h=4 %}

<p>
    Adds a filtering condition, so that only those records, that have the specified column's value equal
    to a given value, will be added to the result set.
    Alternatively, to add this filtering condition, you can use the <code>eq</code>(equal)
    method, which is an alias of the <code>is</code> method.
</p>

{% highlight php startinline %}

// Select all users that are 18.

$result = $db->from('users')
             ->where('age')->is(18) //Alternatively: ->where('age')->eq(18)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` = 18
{% endhighlight %}

{% include subtitle.html anchor="isNot" value="The <em>isNot</em> method" h=4 %}

<p>
    Adds a filtering condition, so that only those records, that have the specified column's value
    not equal to a given value, will be added to the result set.
    Alternatively, to add this filtering condition, you can use the <code>ne</code>(not equal)
    method, which is an alias of the <code>isNot</code> method.
</p>

{% highlight php startinline %}

// Select all users that are not 18.

$result = $db->from('users')
             ->where('age')->isNot(18) //Alternatively: ->where('age')->ne(18)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` != 18
{% endhighlight %}

{% include subtitle.html anchor="lessThan" value="The <em>lessThan</em> method" h=4 %}

<p>
    Adds a filtering condition, so that only those records, that have the specified column's value lesser
    than a given value, will be added to the result set.
    Alternatively, to add this filtering condition, you can use the <code>lt</code>(less than)
    method, which is an alias of the <code>lessThan</code> method.
</p>

{% highlight php startinline %}

// Select all users that are under 18.

$result = $db->from('users')
             ->where('age')->lessThan(18) //Alternatively: ->where('age')->lt(18)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` < 18
{% endhighlight %}

{% include subtitle.html anchor="greaterThan" value="The <em>greaterThan</em> method" h=4 %}

<p>
    Adds a filtering condition, so that only those, records that have the specified column's value greater
    than a given value, will be added to the result set.
    Alternatively, to add this filtering condition, you can use the <code>gt</code>(greater than)
    method, which is an alias of the <code>greaterThan</code> method.
</p>

{% highlight php startinline %}

// Select all users that are over 18.

$result = $db->from('users')
             ->where('age')->greaterThan(18) //Alternatively: ->where('age')->gt(18)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` > 18
{% endhighlight %}

{% include subtitle.html anchor="atLeast" value="The <em>atLeast</em> method" h=4 %}

<p>
    Adds a filtering condition, so that only those records, that have the specified column's value greater
    than or equal to a given value, will be added to the result set.
    Alternatively, to add this filtering condition, you can use the <code>gte</code>(greater than or equal)
    method, which is an alias of the <code>atLeast</code> method.
</p>

{% highlight php startinline %}

// Select all users that are at least 18.

$result = $db->from('users')
             ->where('age')->atLeast(18) //Alternatively: ->where('age')->gte(18)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` >= 18
{% endhighlight %}

{% include subtitle.html anchor="atMost" value="The <em>atMost</em> method" h=4 %}

<p>
    Adds a filtering condition, so that only those records, that have the specified column's value lesser
    than or equal to a given value, will be added to the result set.
    Alternatively, to add this filtering condition, you can use the <code>lte</code>(less than or equal)
    method, which is an alias of the <code>atMost</code> method.
</p>

{% highlight php startinline %}

// Select all users that are at most 18.

$result = $db->from('users')
             ->where('age')->atMost(18) //Alternatively: ->where('age')->lte(18)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` <= 18
{% endhighlight %}

{% include subtitle.html anchor="between" value="The <em>between</em> method" h=4 %}

<p>
    Adds a filtering condition, so that only those records, that have the specified column's value
    within a given range, will be added to the result set.
</p>

{% highlight php startinline %}

// Select all users that are between 18 and 21.

$result = $db->from('users')
             ->where('age')->between(18, 21)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` BETWEEN 18 AND 21
{% endhighlight %}

{% include subtitle.html anchor="notBetween" value="The <em>notBetween</em> method" h=4 %}

<p>
    Adds a filtering condition, so that only those records, that don't have the specified column's value
    within a given range, will be added to the result set.
</p>

{% highlight php startinline %}

// Select all users that are not between 18 and 21.

$result = $db->from('users')
             ->where('age')->notBetween(18, 21)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` NOT BETWEEN 18 AND 21
{% endhighlight %}

{% include subtitle.html anchor="in" value="The <em>in</em> method" h=4 %}

<p>
    Adds a filtering condition, so that only those records, that have the specified column's value
    contained within a given set of values, will be added to the result set.
</p>

{% highlight php startinline %}

// Select all users that are living in London, New York or Paris.

$result = $db->from('users')
             ->where('city')->in(array('London', 'New York', 'Paris'))
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `city` IN ("London", "New York", "Paris")
{% endhighlight %}

<p>
    Instead of providing a set of values by passing an array to the <code>in</code> method, you could also
    obtain a set of values by using a subquery. To use a subquery, just pass
    an anonymous function callback as an argument to the <code>in</code> method, then use the object that
    will be passed as an argument to your callback function to build your query.
</p>

{% highlight php startinline %}

/**
 * Select all users that are living in a city
 * which has a population of over 10 millions inhabitants.
 */
 
$result = $db->from('users')
             ->where('city')->in(function($query){
                $query->from('cities')
                      ->where('population')->atLeast(10000000)
                      ->select('name');
             })
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `city` IN (SELECT `name` FROM `cities` WHERE `population` >= 10000000)
{% endhighlight %}


{% include subtitle.html anchor="notIn" value="The <em>notIn</em> method" h=4 %}

<p>
    Adds a filtering condition, so that only those records, that don't have the specified column's value
    contained within a given set of values, will be added to the result set.
</p>

{% highlight php startinline %}

// Select all users that are not living in London, New York or Paris.

$result = $db->from('users')
             ->where('city')->notIn(array('London', 'New York', 'Paris'))
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `city` NOT IN ("London", "New York", "Paris")
{% endhighlight %}

<p>
    As in the case of the <code>in</code> method, you could obtain a set of values to be used
    for comparison, by using a subquery.
</p>

{% highlight php startinline %}

/**
 * Select all users that are not living in a city
 * which has a population of over 10 millions inhabitants.
 */
 
$result = $db->from('users')
             ->where('city')->notIn(function($query){
                $query->from('cities')
                      ->where('population')->atLeast(10000000)
                      ->select('name');
             })
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `city` NOT IN (SELECT `name` FROM `cities` WHERE `population` >= 10000000)
{% endhighlight %}


{% include subtitle.html anchor="like" value="The <em>like</em> method" h=4 %}

<p>
    Adds a filtering condition, so that only those records,
    whose specified column's value match a given pattern, will be added to the result set. 
</p>

{% highlight php startinline %}

/**
 * Select all users that are living in a city
 * whose name starts with the letter 'P'.
 */

$result = $db->from('users')
             ->where('city')->like('P%')
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `city` LIKE "P%"
{% endhighlight %}

{% include subtitle.html anchor="notLike" value="The <em>notLike</em> method" h=4 %}

<p>
    Adds a filtering condition, so that only those records,
    whose specified column's value don't match a given pattern, will be added to the result set. 
</p>

{% highlight php startinline %}

/**
 * Select all users that are living in a city
 * whose name doesn't starts with the letter 'P'.
 */
 
$result = $db->from('users')
             ->where('city')->notLike('P%')
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `city` NOT LIKE "P%"
{% endhighlight %}

{% include subtitle.html anchor="isNull" value="The <em>isNull</em> method" h=4 %}

<p>
    Adds a filtering condition, so that only those records, that have the specified column's value
    equal to <code>NULL</code>, will be added to the result set.
</p>

{% highlight php startinline %}

// Select all users that do not have a website.
 
$result = $db->from('users')
             ->where('website')->isNull()
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `website` IS NULL
{% endhighlight %}

{% include subtitle.html anchor="notNull" value="The <em>notNull</em> method" h=4 %}

<p>
    Adds a filtering condition, so that only those records, that have the specified column's value
    not equal to <code>NULL</code>, will be added to the result set.
</p>

{% highlight php startinline %}

// Select all users that do have a website.
 
$result = $db->from('users')
             ->where('website')->notNull()
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `website` IS NOT NULL
{% endhighlight %}

{% include subtitle.html anchor="Multiple" value="Multiple conditions" %}

<p>
    Adding multiple conditions to your query is done by using the <code>andWhere</code> and <code>orWhere</code> methods.
    Those methods works exactly as the <code>where</code> method and depending on which method you use,
    they will combine with the previous declared condition by using an <code>AND</code> or an <code>OR</code> operator. 
</p>

<p>
    To add an additional condition to your query, that combines with the previous declared condition by using an
    <code>AND</code> operator, use the <code>andWhere</code> method.
</p>

{% highlight php startinline %}

// Select all users that are 18 and are living in London.
 
$result = $db->from('users')
             ->where('age')->is(18)
             ->andWhere('city')->is('London')
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` = 18 AND `city` = "London"
{% endhighlight %}

<p>
    To add an additional condition to your query, that combines with the previous declared condition by using an
    <code>OR</code> operator, use the <code>orWhere</code> method.
</p>

{% highlight php startinline %}

// Select all users that are either 18 or 21.
 
$result = $db->from('users')
             ->where('age')->is(18)
             ->orWhere('age')->is(21)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` = 18 OR `age` = 21
{% endhighlight %}

<p>
    You can group your conditions in order to add a more complex filter to your query.
    Grouping conditions is done by passing as an argument to the <code>where</code>,
    <code>andWhere</code> or the <code>orWhere</code> methods an anonymous callback function.
    The callback functions takes a single argument that will be further used to add filtering conditions
    to your query.
</p>

{% highlight php startinline %}

/**
 * Select all users that are 18 and
 * are living either in London or Paris.
 */
 
$result = $db->from('users')
             ->where('age')->is(18)
             ->andWhere(function($group){
                $group->where('city')->is('London')
                      ->orWhere('city')->is('Paris');
             })
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` = 18 AND (`city` = "London" OR `city` = "Paris")
{% endhighlight %}

{% include subtitle.html anchor="Columns-comparision" value="Columns comparison" %}

<p>
    <strong>Opis Database</strong> allows you to add comparision conditions between columns.
    You can add comparision conditions between two columns, by passing <code>TRUE</code> as a second argument
    to the <code>is</code>, <code>isNot</code>, <code>lessThan</code>, <code>greaterThan</code>,
    <code>atLeast</code> and <code>atMost</code> methods, or to their corresponding aliases <code>eq</code>
    , <code>ne</code>, <code>lt</code>, <code>gt</code>, <code>lte</code> and <code>gte</code> methods.
</p>

{% highlight php startinline %}

/**
 * Select all users that are living in the same city they were born.
 */
 
$result = $db->from('users')
             ->where('city')->eq('birthplace', true)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `city` = `birthplace`
{% endhighlight %}

<p>
    Building the above query without passing <code>TRUE</code> as the second argument to the
    <code>eq</code> method, will result into a query that will select all users that are living in
    a city named <code>birthplace</code>.
</p>

{% highlight php startinline %}
$result = $db->from('users')
             ->where('city')->eq('birthplace')
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `city` = "birthplace"
{% endhighlight %}

{% include subtitle.html anchor="Exists" value="The EXISTS condition" %}

<p>
    This condition is used in combination with a subquery and is considered to be met,
    if the subquery returns at least one row.
    Adding an <code>EXISTS</code> condition is done by using the <code>whereExists</code> and the <code>whereNotExists</code> methods.
    You can add multiple <strong>EXISTS</strong> conditions by using the <code>andWhereExists</code> or <code>andWhereNotExists</code> methods
    and the <code>orWhereExists</code> or <code>orWhereNotExists</code> methods.
</p>

<p>
    This methods are used in a similar manner as the <code>where</code>,
    <code>andWhere</code> and <code>orWhere</code> methods,
    receiving as an argument an anonymous function callback, that will be further used to build a subquery.
</p>

{% highlight php startinline %}

/**
 * Select all users that had purchased at least one product.
 */
 
$result = $db->from('users')
             ->whereExists(function($query){
                $query->from('orders')
                      ->where('orders.name')->eq('users.name', true)
                      ->select();
             })
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE EXISTS (SELECT * FROM `orders` WHERE `orders`.`name` = `users`.`name`)
{% endhighlight %}

