---
layout: database
title: Filter records | Opis Database
keywords: php, database, abstraction, query builder, schema builder
description: Learn how to filter records
active: filter
---
<h1><strong>Filter records</strong></h1>

<p>
    Filtering records is one of the most important and intensively used operation in SQL.
    <strong>Opis Database</strong> aims to make data filtering an easy task for the developers,
    by implementing a set of targeted methods capable of simplifying the filtering process.
</p>

<p>
    Adding a filter is done using the <code>where</code> method in conjunction with one of the
    following methods: <code>is</code>, <code>isNot</code>, <code>lessThan</code>,
    <code>greaterThan</code>, <code>atLeast</code>, <code>atMost</code>, <code>between</code>,
    <code>notBetween</code>, <code>in</code>, <code>notIn</code>, <code>like</code>, <code>notLike</code>,
    <code>isNull</code> and <code>notNull</code>.
</p>

{% include subtitle.html anchor="is" value="The <em>is</em> method" h=4 %}

<p>
    This method is used when you want to add to your result set only the records that
    have the specified column's value equal with a given value.
</p>

{% highlight php startinline %}

// Select all users that are 18.

$result = $db->from('users')
             ->where('age')->is(18)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` = 18
{% endhighlight %}

{% include subtitle.html anchor="isNot" value="The <em>isNot</em> method" h=4 %}

<p>
    This method is the opposite of the <code>is</code> method.
    It will add to the result set only the records that doesn't have the specified column's value
    equal with a given value.
</p>

{% highlight php startinline %}

// Select all users that are not 18.

$result = $db->from('users')
             ->where('age')->isNot(18)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` != 18
{% endhighlight %}

{% include subtitle.html anchor="lessThan" value="The <em>lessThan</em> method" h=4 %}

<p>
    Use this method when you want to add to the result set all the records that have the specified
    column's value lesser than a given value.
    You can also add a <em>less than</em> condition by using the <code>lt</code> method,
    which is an alias for the <code>lessThan</code> method.
</p>

{% highlight php startinline %}

// Select all users that are under 18.

$result = $db->from('users')
             ->where('age')->lessThan(18) //Alternatively: ->where('age')->lt(18)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` < 18
{% endhighlight %}

{% include subtitle.html anchor="greaterThan" value="The <em>greaterThan</em> method" h=4 %}

<p>
    This method is the opposite of the <code>lessThan</code> method. It will add to the result set
    all the records that have the specified column's value greater than a given value.
    You can also add a <em>greater than</em> condition by using the <code>gt</code> method,
    which is an alias for the <code>greaterThan</code> method.
</p>

{% highlight php startinline %}

// Select all users that are over 18.

$result = $db->from('users')
             ->where('age')->greaterThan(18) //Alternatively: ->where('age')->gt(18)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` > 18
{% endhighlight %}

{% include subtitle.html anchor="atLeast" value="The <em>atLeast</em> method" h=4 %}

<p>
    Adds to the result set all the records that have the specified column's value equal or greater than
    a given value. A <em>greater than or equal</em> condition can be alternatively specified by using
    the <code>gte</code> method, which is an alias for the <code>atLeast</code> method.
</p>

{% highlight php startinline %}

// Select all users that are at least 18.

$result = $db->from('users')
             ->where('age')->atLeast(18) //Alternatively: ->where('age')->gte(18)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` >= 18
{% endhighlight %}

{% include subtitle.html anchor="atMost" value="The <em>atMost</em> method" h=4 %}

<p>
    This method is the opposite of the <code>atLeast</code> method.
    It adds to the result set all the records that have the specified column's value equal or lesser than
    a given value. A <em>less than or equal</em> condition can be alternatively specified by using
    the <code>lte</code> method, which is an alias for the <code>atMost</code> method.
</p>

{% highlight php startinline %}

// Select all users that are at most 18.

$result = $db->from('users')
             ->where('age')->atMost(18) //Alternatively: ->where('age')->lte(18)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` <= 18
{% endhighlight %}

{% include subtitle.html anchor="between" value="The <em>between</em> method" h=4 %}

<p>
    Adds to the result set all the records that have the specified column's value within
    a given range.
</p>

{% highlight php startinline %}

// Select all users that are between 18 and 21.

$result = $db->from('users')
             ->where('age')->between(18, 21)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` BETWEEN 18 AND 21
{% endhighlight %}

{% include subtitle.html anchor="notBetween" value="The <em>notBetween</em> method" h=4 %}

<p>
    This method is the opposite of the <code>between</code> method.
    It adds to the result set all the records that doesn't have the specified column's value within
    a given range.
</p>

{% highlight php startinline %}

// Select all users that are not between 18 and 21.

$result = $db->from('users')
             ->where('age')->notBetween(18, 21)
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `age` NOT BETWEEN 18 AND 21
{% endhighlight %}

{% include subtitle.html anchor="in" value="The <em>in</em> method" h=4 %}

<p>
    Adds to the result set all the records that have the specified column's value contained within
    a given set of values.
</p>

{% highlight php startinline %}

// Select all users that are living in London, New York or Paris.

$result = $db->from('users')
             ->where('city')->in(array('London', 'New York', 'Paris'))
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `city` IN ("London", "New York", "Paris")
{% endhighlight %}

<p>
    You can also specify that the given set of values to be setted to the result returned by a subquery,
    just by passing as an argument a callback function where you will construct the subquery.
</p>

{% highlight php startinline %}

/**
 * Select all users that are living in a city
 * which has a population of over 10 millions inhabitants.
 */
 
$result = $db->from('users')
             ->where('city')->in(function($query){
                $query->from('cities')
                      ->where('population')->atLeast(10000000)
                      ->select('name');
             })
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `city` IN (SELECT `name` FROM `cities` WHERE `population` >= 10000000)
{% endhighlight %}


{% include subtitle.html anchor="notIn" value="The <em>notIn</em> method" h=4 %}

<p>
    This method is the opposite of the <code>in</code> method.
    It adds to the result set all the records that doesn't have the specified column's value contained within
    a given set of values.
</p>

{% highlight php startinline %}

// Select all users that are not living in London, New York or Paris.

$result = $db->from('users')
             ->where('city')->notIn(array('London', 'New York', 'Paris'))
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `city` NOT IN ("London", "New York", "Paris")
{% endhighlight %}

<p>
    You can also specify that the given set of values to be setted to the result returned by a subquery,
    just by passing as an argument a callback function where you will construct the subquery.
</p>

{% highlight php startinline %}

/**
 * Select all users that are not living in a city
 * which has a population of over 10 millions inhabitants.
 */
 
$result = $db->from('users')
             ->where('city')->notIn(function($query){
                $query->from('cities')
                      ->where('population')->atLeast(10000000)
                      ->select('name');
             })
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `city` NOT IN (SELECT `name` FROM `cities` WHERE `population` >= 10000000)
{% endhighlight %}


{% include subtitle.html anchor="like" value="The <em>like</em> method" h=4 %}

<p>
    Adds a record to the result set only if the specified column's value match a given pattern.
</p>

{% highlight php startinline %}

// Select all users that are living in a city of which name starts with the letter 'P'.

$result = $db->from('users')
             ->where('city')->like('P%')
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `city` LIKE "P%"
{% endhighlight %}

{% include subtitle.html anchor="notLike" value="The <em>notLike</em> method" h=4 %}

<p>
    This method is the opposite of the <code>like</code> method.
    Adds a record to the result set only if the specified column's value match a given pattern.
</p>

{% highlight php startinline %}

// Select all users that are living in a city of which name does not starts with the letter 'P'.

$result = $db->from('users')
             ->where('city')->notLike('P%')
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` WHERE `city` NOT LIKE "P%"
{% endhighlight %}



<p class="well text-primary">
    <strong><span class="fa fa-pencil"></span> TODO:</strong>
    Describe how to filter records.
</p>
