---
layout: database
title: Opis Database | www.opis.io
keywords: php, database, abstraction, query builder, schema builder
description: Database abstraction layer library
tooltips: true
active: home
---
<h1><strong>Database abstraction layer</strong></h1>
<p>
    <strong>Opis Database</strong> is a library that provides an abstraction layer over several database systems, offering a standard way of handling database records and thus, making the differences between various SQL dialects irrelevant to the developers.
<p>
    The library has support for the following database types: MySQL, PostgreSQL, Microsoft SQL, SQLite, Firebird, IBM DB2, Oracle, NuoDB.
</p>

{% include subtitle.html anchor="Requirements" value="Requirements" %}

<ul>
    <li>PHP 5.3.* or higher</li>
    <li>PDO</li>
</ul>

{% include subtitle.html anchor="Installation" value="Installation" %}

<p>
    <strong>Opis Database</strong> is available on
    {% include packagist.html project = "database" %}
    and can be installed using
    <a href="http://getcomposer.org" target="_blank" title="Composer site">Composer</a>.
</p>

{% include composer.html package = "opis/database" version = site.projects.database.version %}

<p>
    If you are unable to use <strong>Composer</strong> you can download the
    {% include archive.html project = site.projects.database file = "tar.gz" %}
    or the
    {% include archive.html project = site.projects.database file = "zip" %} archive file,
    extract the content of the archive and include de <code>autoload.php</code> file into your project.
</p>

{% highlight php startinline %}
require_once 'path/to/database-{{site.projects.database.version}}/autoload.php';
{% endhighlight %}
