---
layout: database
title: Fetch records | Opis Database
keywords: php, database, abstraction, query builder, schema builder
description: Learn how to fetch records from a database
active: select
---
<h1><strong>Fetch records</strong></h1>
<p>
    Fetching records from a database is done using the <code>from</code> and the <code>select</code> methods.
</p>
{% highlight php startinline %}
$result = $db->from('users')
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users`
{% endhighlight %}
<p>
    The result of calling the <code>all</code> method will be an array that will contain all of the records that were found
    or an empty array if no records were found.
</p>
{% highlight php startinline %}
foreach($result as $user)
{
    echo $user->name;
}
{% endhighlight %}

<p>
    If you only want to retrieve a single record, you can use the <code>first</code> method.
    If no records are found the method returns <code>FALSE</code>.
</p>

{% highlight php startinline %}
$user = $db->from('users')
           ->select()
           ->first();
if($user)
{
    echo $user->name;
}
else
{
    echo 'No records were found';
}
{% endhighlight %}

<p>
    Retrieving only a column's value is also possible by using the <code>column</code> method.
    If no records are found the method returns <code>FALSE</code>.
</p>
{% highlight php startinline %}
$name = $db->from('users')
           ->column('name');
           
echo $name === false ? 'No records were found' : $name;
{% endhighlight %}

<p class="well text-danger">
    <strong><span class="fa fa-exclamation-triangle"></span> Important!</strong>
    You should always <a href="/database/filters.html">filter</a> your records before handling the results of a query even if
    you use the <code>first</code> or the <code>column</code> method, otherwise you may have performance issues when quering
    over large data sets.
</p>

{% include subtitle.html anchor="Distinct" value="Distinct results" %}

<p>
    Retrieving only the distinct results is done using the <code>distinct</code> method.
</p>
{% highlight php startinline %}
$result = $db->from('users')
             ->distinct()
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT DISTINCT * FROM `users`
{% endhighlight %}

{% include subtitle.html anchor="Columns" value="Columns" %}

<p>
    You can specify which columns you want to include in the result set by passing as an argument
    to the <code>select</code> method an array containing th column names.
</p>
{% highlight php startinline %}
$result = $db->from('users')
             ->select(array('name', 'age'))
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT `name`, `age` FROM `users`
{% endhighlight %}

<p>
    Aliasing column names is done by passing as an argument to the <code>select</code> method a
    <code>key => value</code> mapped array, where the <code>key</code> represents the column's name
    and the <code>value</code> represents the column's alias name. If you want a column name
    not being aliased, just omit the <code>key</code> for that specific column.
</p>

{% highlight php startinline %}
$result = $db->from('users')
             ->select(array(
                'name' => 'n',
                'email'
                'age' => 'a',
             ))
             ->all();

foreach($result as $user)
{
    echo $user->n, $user->email, $user->a;
}
{% endhighlight %}
{% highlight sql %}
SELECT `name` AS `n`, `email`, `age` AS `a` FROM `users`
{% endhighlight %}

{% include subtitle.html anchor="Tables" value="Tables" %}

<p>
    When fetching records from a database you can specify muliple table sources by passing
    as an argument to the <code>from</code> method an array containing all table names you want to use.
</p>

{% highlight php startinline %}
$result = $db->from(array('users', 'profiles'))
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users`, `profiles`
{% endhighlight %}

<p>
    As in the case of columns, you can alias table names by passing as an argument a <code>key => value</code>
    mapped array, where the <code>key</code> represents the table's name and the <code>value</code> represents
    the table's alias name. If you want a table name not being aliased, just omit the <code>key</code> for that specific table.
</p>

{% highlight php startinline %}
$result = $db->from(array(
                'users' => 'u',
                'profiles' => 'p'
             ))
             ->select()
             ->all();
{% endhighlight %}
{% highlight sql %}
SELECT * FROM `users` AS `u`, `profiles` AS `p`
{% endhighlight %}
