.highlight pre{
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    color: inherit;
}

.opis-inline-logo{
    display: inline;
    width: 100px;
    height: 100px;
}

#header{
    margin-bottom: 30px;
    border-bottom: #eee 1px solid;
}

#header .nav{
    margin-top: 50px;
}