{% assign done = false %}
{% assign entry = false %}

{% for chapter in include.menu %}
    {% for page in chapter.pages %}
        {% unless done != false %}
        {% if include.url == page.url %}
            {% assign entry = page %}
            {% assign done = true %}
        {% endif %}
        {% endunless %}
    {% endfor %}
{% endfor %}

{% if include.dropdown %}
    {% if entry and entry.items %}
    <a href="#" class="btn btn-light btn-sm btn-toc" onclick="toggleDropdown('dropdown-toc')"><i
            class="fas fa-list-ul"></i></a>
    <div class="dropdown-toc shadow" id="dropdown-toc">
        {% include versions.html id="dropdown-versions-secondary" versions=include.project.versions prefix=include.project.url %}
        {% if entry and entry.items %}
            <div class="chapter">On this page</div>
            {% include anchor-list.html items=entry.items %}
        {% endif %}
    </div>
    {% else %}
        {% if include.project.versions and include.project.versions.list.size > 1 %}
            <a href="#" class="btn btn-light btn-sm btn-toc" onclick="toggleDropdown('dropdown-toc')"><i
                    class="fas fa-list-ul"></i></a>
            <div class="dropdown-toc shadow" id="dropdown-toc">
                {% include versions.html id="dropdown-versions-secondary" versions=include.project.versions prefix=include.project.url %}
            </div>
        {% endif %}
    {% endif %}
{% else %}
    {% include versions.html id="dropdown-versions-primary" versions=include.project.versions prefix=include.project.url %}
    {% if entry and entry.items %}
        <div class="chapter">On this page</div>
        {% include anchor-list.html items=entry.items id=include.id %}
    {% endif %}
{% endif %}