<div class="tabs">
{% capture tab_id %}{% increment tab_id %}{% endcapture %}
{% assign checked = true %}
{% for item in include %}
    {% assign v = item[0] %}
    {% assign s = v | slice: 0 %}
    {% if s == '_' %}
        {% assign t = v | replace_first: '_', '' %}
        {% assign title = include[t] %}
        {% assign value = include[v] %}
        {% include tab.html id=tab_id title=title content=value checked=checked %}
        {% assign checked = false %}
    {% endif %}
{% endfor %}
</div>
