{% if include.versions and include.versions.list.size > 1 %}
<div class="dropdown-versions" id="{{include.id}}" onclick="toggleDropdown('{{include.id}}')">
    <div class="version-name">
        Version {{ include.versions.list[include.versions.current].name }}
    </div>
    <ul>
        {% for version in include.versions.list %}
        {% if forloop.index0 != include.versions.current %}
        <li><a href="{{include.prefix}}{{version.path}}">Version {{version.name}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}