---
layout: project
project: cache
navigation:
    - name: home
      title: Home
      url: /cache
      description: Getting started with Opis Cache
    - name: use
      title: Using the library
      url: /cache/use.html
      description: Learn how to use the library
    - name: collection
      title: Storage collection
      url: /cache/collection.html
      description: Learn how to create and use storage collections
    - name: storage
      title: Add new storages
      url: /cache/storage.html
      description: Learn how you can add support for new storages
---
{{content}}