---
layout: project
project: closure
navigation:
    - name: home
      title: Home
      url: /closure
      description: Getting started with Opis Closure
    - name: serialize
      title: Serialize closures
      url: /closure/serialize.html
      description: Learn how to wrap a closure and make it serializable
    - name: contexts
      title: Serialization contexts
      url: /closure/contexts.html
      description: Leran about serialization context
    - name: bound
      title: Bounded objects
      url: /closure/bound.html
      description: Leran about bounded objects
---
{{content}}