---
layout: project
project: container
navigation:
    - name: home
      title: Home
      url: /container
      description: Getting started with Opis Container
    - name: container
      title: The container
      url: /container/container.html
      description: Learn how the DIC works
    - name: bind
      title: Binding types
      url: /container/bind.html
      description: Learn how to bind abstract types to concrete types
    - name: extend
      title: Extending types
      url: /container/extend.html
      description: Learn how to extend abstract types
---
{{content}}