---
layout: project
project: database
navigation:
    - name: home
      title: Home
      url: /database
      description: Getting started with Opis Database
    - name: connections
      title: Connections
      url: /database/connections.html
      description: Learn how to connect to a database
    - name: creating
      title: Creating records
      url: /database/insert.html
      description: Insert new records into a table
    - name: fetching
      title: Fetching records
      url: /database/insert.html
      description: Fetch records from a database
---
{{content}}