---
layout: project
project: database
navigation:
    - name: home
      title: Home
      url: /database
      description: Getting started with Opis Database
    - name: connections
      title: Connections
      url: /database/connections.html
      description: Learn how to connect to a database
    - name: creating
      title: Create records
      url: /database/insert.html
      description: Insert new records into a table
    - name: fetching
      title: Fetch records
      url: /database/insert.html
      description: Fetch records from a database
    - name: filters
      title: Filter records
      url: /database/filters.html
      description: Learn how to filter records
    - name: updating
      title: Update records
      url: /database/update.html
      description: Learn how to update existing records
    - name: deleting
      title: Delete records
      url: /database/delete.html
      description: Learn how to delete existing records
---
{{content}}