---
layout: project
project: database
navigation:
    - name: home
      title: Home
      url: /database
      description: Getting started with Opis Database
    - name: connection
      title: Connections
      url: /database/connection.html
      description: Learn how to connect to a database
    - name: select
      title: Fetching records
      url: /database/select.html
      description: Fetching records from a database
    - name: result
      title: Results handling
      url: /database/result.html
      description: Learn how to handle the result set of a query
    - name: aggregate
      title: Aggregate functions
      url: /database/aggregate.html
      description: Learn about aggregate functions
    - name: filter
      title: Filters
      url: /database/filter.html
      description: Learn how to filter records
    - name: limit
      title: Limits and ordering
      url: /database/limit.html
      description: Limits and ordering criteria
    - name: expression
      title: Expressions
      url: /database/expression.html
      description: Learn about expressions
    - name: join
      title: Joins
      url: /database/join.html
      description: Learn how to perform joins
    - name: insert
      title: Create records
      url: /database/insert.html
      description: Insert new records into a table
    - name: update
      title: Update records
      url: /database/update.html
      description: Learn how to update existing records
    - name: delete
      title: Delete records
      url: /database/delete.html
      description: Learn how to delete existing records
    - name: transaction
      title: Transactions
      url: /database/transaction.html
      description: Learn how to use transactions
    - name: schema
      title: Schemas
      url: /database/schema.html
      description: Learn how to create schemas
---
{{content}}