---
layout: default
---
{% assign page_version = page.version | replace: ".", "" %}
{% assign page_library = page.library %}
{% assign menu = site.data[page_library].menu[page_version] %}
{% assign project = site.data[page_library].project %}
{% assign global = site.opis %}
{% capture toc %}{% include toc.html h_min=2 h_max=4 class="page-content-list" html=content %}{% endcapture %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.robots %}
    <meta name="robots" content="{{page.robots}}">
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{page.description}}">
    {% endif %}
    {% if page.keywords %}
    <meta name="keywords" content="{{page.keywords}}">
    {% endif %}
    <title>{{page.title}}{{project.title_suffix}}</title>
    <link rel="icon" href="{{project.favicon | default: global.favicon}}">
    {% if page.canonical %}
    <link rel="canonical" href="{{page.canonical}}">
    {% endif %}
    {% for style in global.styles %}
    <link href="{{style}}" rel="stylesheet">
    {% endfor %}
</head>
<body>
{% if project.ga %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-50415801-1', 'opis.io');
    ga('send', 'pageview');
</script>
{% endif %}
<nav class="navbar shadow grid-layout">
    <!-- This button will appear on mobile and tablet portrait only -->
    <div class="menu-btn" role="button" onclick="toggleShow('region-left')">
        <i class="fas fa-bars"></i>
    </div>
    <!-- ================================================= -->
    <div class="region-left">
        <a href="{{project.brand.url}}" class="logo"><img src="{{ project.brand.logo | default: global.logo}}" alt="Project logo">{{project.brand.title}}</a>
    </div>

    <div class="nav-menu">
        {% include nav-links.html links=global.nav url=project.github %}
    </div>

    <div class="region-right">
        <div class="search-bar">
            <i class="fas fa-search"></i>
            <span onclick="toggleShow('search-drawer', '#algolia-search-box input')" style="cursor: text; padding-left: 18px">Search...</span>
        </div>
    </div>

    <!-- This button will appear on mobile and tablet portrait only -->
    <div class="search-btn" onclick="toggleShow('search-drawer')">
        <i class="fas fa-search"></i>
    </div>
    <!-- ================================================= -->
</nav>
<div class="main grid-layout">

    <!-- LEFT region -->
    <div class="region-left" id="region-left">
        <div class="drawer scrollbar">
            <div class="drawer-header">
                <div class="close-drawer" onclick="toggleShow('region-left')">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="nav-menu">
                    {% include nav-links.html links=global.nav url=project.github %}
                </div>
            </div>
            <div class="drawer-content">
                {% include menu.html menu=menu prefix=global.url_prefix url=page.url %}
            </div>
        </div>
    </div>

    <!-- CENTER region -->
    <div class="region-content">

        <div class="content">
            <div class="content-header">
                <div class="header-title">
                    {% include title.html menu=menu url=page.url prefix=global.url_prefix %}
                </div>
                <div class="header-actions">
                    <a href="{{project.doc_source | default: global.doc_source}}/{{page.path}}"
                       target="_blank"
                       class="btn btn-light btn-git">
                        <i class="fab fa-github fa-lg"></i> Edit on GitHub
                    </a>
                    {% include page-items.html menu=menu url=page.url prefix=global.url_prefix project=project toc=toc dropdown="true" %}
                </div>
            </div>
            {% if project.abandoned %}
            {% include abandoned.html %}
            {% endif %}
            {% if project.versions[page.version].unmaintained %}
            {% include unmaintained.html prefix=global.url_prefix versions=project.versions latest=project.current_version %}
            {% endif %}

            {{ content }}

            <div class="content-footer">
                {% include pager.html menu=menu url=page.url prefix=global.url_prefix %}
                <div class="copyright">{{project.copyright | default: global.copyright}}</div>
            </div>
        </div>
    </div>

    <!-- RIGHT region -->
    <div class="region-right">
        <div class="drawer scrollbar">
            <div class="drawer-content">
                {% include page-items.html menu=menu url=page.url prefix=global.url_prefix project=project id="on-this-page-section" toc=toc %}
            </div>
        </div>
    </div>

    <div class="search" id="search-drawer" data-index="{{global.search.index}}"
         data-api-key="{{global.search.app_key}}" data-version="{{page.version}}"
         data-app-id="{{global.search.app_id}}" data-prefix="{{global.url_prefix}}"
         data-library="{{page.library}}">
        <div class="search-drawer">
            <div class="drawer-header">
                <div class="search-bar">
                    <i class="fas fa-search"></i>
                    <div id="algolia-search-box"></div>
                </div>
                <div class="close-drawer" onclick="toggleShow('search-drawer')">
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div>

            <div class="drawer-content scrollbar" id="algolia-hits"></div>
        </div>
        <a href="https://algolia.com" title="Search by Algolia" class="algolia-logo">
            <img src="/assets/img/algolia.svg" class="img-fluid">
        </a>
    </div>
</div>
<div id="drawer-overlay"></div>

{% for script in global.scripts %}
<script src="{{script}}"></script>
{% endfor %}

</body>