<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="php, view, rendering engine, html rendering, template engine">
<meta name="description" content="Learn about Opis View's components">
<title>The components | Opis View</title>
        
        <link href="/assets/img/favicon.png" rel="shortcut icon">
        
        
        
<link rel="stylesheet" href="/assets/css/flatly-theme.min.css">

<link href="/assets/css/font-awesome.css" rel="stylesheet">

<link href="/assets/css/syntax.css" rel="stylesheet">



<link href="/assets/css/project.css" rel="stylesheet">


        
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
        <!--[if lt IE 9]>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
        <![endif]--> 
        
        <!--[if lt IE 9]>
<script src="/assets/js/html5shiv.js"></script>
<script src="/assets/js/respond.min.js"></script>
<![endif]-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/assets/js/jquery-1.11.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/assets/js/bootstrap.min.js"></script>


<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-50415801-1', 'opis.io');
    ga('send', 'pageview');
</script>

    </head>
    <body>
        

<div class="github-fork-ribbon-wrapper right hidden-sm hidden-xs">
    <div class="github-fork-ribbon" style="background-color: #f80">
        <a href="https://github.com/opis/view">Fork me on GitHub</a>
    </div>
</div>

<header id="header" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <img src="/assets/img/opis-gs-100.png" class="img-responsive opis-inline-logo">
            <a href="/view" class="navbar-brand">
                <strong>
                    View
                </strong>
            </a>
            <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav id="navbar-main" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/" title="Main page">
                        <span class="fa fa-home"></span> Home
                    </a>
                </li>
                <li class="dropdown hidden-md hidden-lg">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="fa fa-file-text"></span> Documentation <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    
        
        <li><a href="/view" title="Getting started with Opis View">About</a></li>
    
        
        <li class="active"><a href="/view/components.html" title="Learn about Opis View's components">The components</a></li>
    
        
        <li><a href="/view/views.html" title="Learn how to define views">Defining views</a></li>
    
        
        <li><a href="/view/render.html" title="Learn how to render views">Rendering views</a></li>
    
        
        <li><a href="/view/engines.html" title="Learn about template engines">Template engines</a></li>
    
    </ul>
</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="fa fa-cogs"></span> Components <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/cache" title="Caching library">Cache</a></li>
                        <li><a href="/closure" title="Serializable closures">Closure</a></li>
                        <li><a href="/config" title="Configuration manager">Config</a></li>
                        <li><a href="/container" title="Dependency injection container">Container</a></li>
                        <li><a href="/database" title="Database abstraction layer">Database</a></li>
                        <li><a href="/events" title="Events library">Events</a></li>
                        <li><a href="https://github.com/opis/http" title="HTTP library">HTTP</a></li>
                        <li><a href="/http-routing" title="HTTP routing library">HTTP Routing</a></li>
                        <li><a href="/routing" title="Routing framework">Routing</a></li>
                        <li><a href="/session" title="Session manager">Session</a></li>
                        <li><a href="/utils" title="Utilitary classes">Utils</a></li>
                        <li><a href="/view" title="Rendering engine">View</a></li>
                    </ul>
                </li>
                
    
    

                <li class="hidden-md hidden-lg">
                    <a href="https://github.com/opis/view" title="Github page">
                        <span class="fa fa-github fa-lg"></span> GitHub
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-xs hidden-sm">
                
                    <div class="list-group">

    
    <a href="/view" class="list-group-item">
    
        <h4 class="list-group-item-heading">About</h4>
        <p class="list-group-item-text text-muted">
            Getting started with Opis View
        </p>
    </a>

    
    <a href="/view/components.html" class="list-group-item active">
    
        <h4 class="list-group-item-heading">The components</h4>
        <p class="list-group-item-text text-muted">
            Learn about Opis View's components
        </p>
    </a>

    
    <a href="/view/views.html" class="list-group-item">
    
        <h4 class="list-group-item-heading">Defining views</h4>
        <p class="list-group-item-text text-muted">
            Learn how to define views
        </p>
    </a>

    
    <a href="/view/render.html" class="list-group-item">
    
        <h4 class="list-group-item-heading">Rendering views</h4>
        <p class="list-group-item-text text-muted">
            Learn how to render views
        </p>
    </a>

    
    <a href="/view/engines.html" class="list-group-item">
    
        <h4 class="list-group-item-heading">Template engines</h4>
        <p class="list-group-item-text text-muted">
            Learn about template engines
        </p>
    </a>

</div>
                
            </div>
            <div class="col-md-8 col-sm-12">
                
        


        

<h1>
    
    <strong>The components</strong>
    
</h1>

<ol class="submenu">
    <li>




    

<a href="#the-router">The router</a></li>
    <li>




    

<a href="#the-engine-resolver">The engine resolver</a></li>
    <li>




    

<a href="#the-template-engine">The template engine</a></li>
    <li>




    

<a href="#the-routes">The routes</a></li>
</ol>


        


    


        


    

<h3>
    
    
    <strong>The router</strong>
    
    <a id="the-router" href="#the-router" class="link-anchor"><span class="fa fa-link"></span></a>
</h3>

<p>
    The router is the central component of the Opis View library. It is represented by the
    <code>Opis\View\ViewRouter</code> class and it's responsable for almost the whole rendering process.
    The router's responsibilities are to resolve routes to paths, to find an appropriate template engine
    (with the help of the engine resolver,) that can handle the resolved path properly,
    and finally to ask the template engine to build the view by giving it the resolved path
    and an array of placeholders. 
</p>



        


    


        


    

<h3>
    
    
    <strong>The engine resolver</strong>
    
    <a id="the-engine-resolver" href="#the-engine-resolver" class="link-anchor"><span class="fa fa-link"></span></a>
</h3>

<p>
    The engine resolver is represented by the <code>Opis\View\EngineResolver</code> class and its main responsibility
    is to find the adequate template engine that can handle a given path. The engine resolver also allows users
    to register their own template engines.
</p>


        


    


        


    

<h3>
    
    
    <strong>The template engine</strong>
    
    <a id="the-template-engine" href="#the-template-engine" class="link-anchor"><span class="fa fa-link"></span></a>
</h3>

<p>
    The template engine is responsable for building the view and returning the content. A template engine is represented
    by any class that implements the <code>Opis\View\EngineInterface</code>.
</p>

<div class="highlight"><pre><code class="php"><span class="k">interface</span> <span class="nx">EngineInterface</span>
<span class="p">{</span>
    <span class="k">function</span> <span class="nf">build</span><span class="p">(</span><span class="nv">$path</span><span class="p">,</span> <span class="k">array</span> <span class="nv">$data</span> <span class="o">=</span> <span class="k">array</span><span class="p">());</span>
<span class="p">}</span>
</code></pre></div>

<p>
    The interface have only one method that needs to be implemented. The <code>build</code> method receive
    as arguments the view's path and an array of placeholders and returns the generated content.
</p>


        


    


        


    

<h3>
    
    
    <strong>The routes</strong>
    
    <a id="the-routes" href="#the-routes" class="link-anchor"><span class="fa fa-link"></span></a>
</h3>

<p>
    A route is responsible for defining a view's name and for associating a valid path with that name.
    The routes can also define name constraints and filters and they are stored in a route collection inside the router.
    When the router is asked to render a view, it will cycle through the route collection trying to find a route
    that matches the given name of the view. Once such a route is found, the route is resolved and the resulting path
    will be used by the router in the next steps of the rendering process.
</p>


                





    
        
            
                
            
        
    

    
        
            
        
    

    
        
            
                
                
            
        
    

    

    


<ul class="pager">
  
  <li class="previous"><a href="/view" title="About">&larr; Back</a></li>
  
  
  <li class="next"><a href="/view/views.html" title="Defining views">Next &rarr;</a></li>
  
</ul>
                
            </div>
        </div>
    </div>
</section>
<a href="#0" id="back-to-top">
    <span class="fa fa-arrow-up"></span>
</a>
<script>
    (function($){
        
        $(document).ready(function(){
           var visible = false;
           $(window).scroll(function(){
                var top = $(this).scrollTop();
                
                if (top >= 100 && !visible) {
                   visible = true;
                   $('#back-to-top').fadeIn().show();
                 }
                 if(top < 100 && visible){
                   visible = false;
                   $('#back-to-top').fadeOut();  
                 }
           });
           
            $('#back-to-top').click(function(){
                $('html, body').animate({scrollTop : 0},800);
                return false;
            });
            
        });
        
        
    })(jQuery);
</script>
<footer class="text-center text-muted">
    Copyright &copy; 2014-2015 Marius Sarca. All rights reserved.
</footer>

    </body>
</html>
