<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="php, view, rendering engine, html rendering, template engine">
<meta name="description" content="Learn how to define views">
<title>Defining views | Opis View</title>
        
        <link href="/assets/img/favicon.png" rel="shortcut icon">
        
        
        
<link rel="stylesheet" href="/assets/css/flatly-theme.min.css">

<link href="/assets/css/font-awesome.css" rel="stylesheet">

<link href="/assets/css/syntax.css" rel="stylesheet">



<link href="/assets/css/project.css" rel="stylesheet">


        
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
        <!--[if lt IE 9]>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
        <![endif]--> 
        
        <!--[if lt IE 9]>
<script src="/assets/js/html5shiv.js"></script>
<script src="/assets/js/respond.min.js"></script>
<![endif]-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/assets/js/jquery-1.11.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/assets/js/bootstrap.min.js"></script>


<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-50415801-1', 'opis.io');
    ga('send', 'pageview');
</script>

    </head>
    <body>
        

<div class="github-fork-ribbon-wrapper right hidden-sm hidden-xs">
    <div class="github-fork-ribbon" style="background-color: #f80">
        <a href="https://github.com/opis/view">Fork me on GitHub</a>
    </div>
</div>

<header id="header" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <img src="/assets/img/opis-gs-100.png" class="img-responsive opis-inline-logo">
            <a href="/view" class="navbar-brand">
                <strong>
                    View
                </strong>
            </a>
            <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav id="navbar-main" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/" title="Main page">
                        <span class="fa fa-home"></span> Home
                    </a>
                </li>
                <li class="dropdown hidden-md hidden-lg">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="fa fa-file-text"></span> Documentation <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    
        
        <li><a href="/view" title="Getting started with Opis View">About</a></li>
    
        
        <li><a href="/view/components.html" title="Learn about Opis View's components">The components</a></li>
    
        
        <li class="active"><a href="/view/views.html" title="Learn how to define views">Defining views</a></li>
    
        
        <li><a href="/view/render.html" title="Learn how to render views">Rendering views</a></li>
    
        
        <li><a href="/view/engines.html" title="Learn about template engines">Template engines</a></li>
    
    </ul>
</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="fa fa-cogs"></span> Components <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/cache" title="Caching library">Cache</a></li>
                        <li><a href="/closure" title="Serializable closures">Closure</a></li>
                        <li><a href="/config" title="Configuration manager">Config</a></li>
                        <li><a href="/container" title="Dependency injection container">Container</a></li>
                        <li><a href="/database" title="Database abstraction layer">Database</a></li>
                        <li><a href="/events" title="Events library">Events</a></li>
                        <li><a href="https://github.com/opis/http" title="HTTP library">HTTP</a></li>
                        <li><a href="/http-routing" title="HTTP routing library">HTTP Routing</a></li>
                        <li><a href="/routing" title="Routing framework">Routing</a></li>
                        <li><a href="/session" title="Session manager">Session</a></li>
                        <li><a href="/utils" title="Utilitary classes">Utils</a></li>
                        <li><a href="/view" title="Rendering engine">View</a></li>
                    </ul>
                </li>
                
    
    

                <li class="hidden-md hidden-lg">
                    <a href="https://github.com/opis/view" title="Github page">
                        <span class="fa fa-github fa-lg"></span> GitHub
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-xs hidden-sm">
                
                    <div class="list-group">

    
    <a href="/view" class="list-group-item">
    
        <h4 class="list-group-item-heading">About</h4>
        <p class="list-group-item-text text-muted">
            Getting started with Opis View
        </p>
    </a>

    
    <a href="/view/components.html" class="list-group-item">
    
        <h4 class="list-group-item-heading">The components</h4>
        <p class="list-group-item-text text-muted">
            Learn about Opis View's components
        </p>
    </a>

    
    <a href="/view/views.html" class="list-group-item active">
    
        <h4 class="list-group-item-heading">Defining views</h4>
        <p class="list-group-item-text text-muted">
            Learn how to define views
        </p>
    </a>

    
    <a href="/view/render.html" class="list-group-item">
    
        <h4 class="list-group-item-heading">Rendering views</h4>
        <p class="list-group-item-text text-muted">
            Learn how to render views
        </p>
    </a>

    
    <a href="/view/engines.html" class="list-group-item">
    
        <h4 class="list-group-item-heading">Template engines</h4>
        <p class="list-group-item-text text-muted">
            Learn about template engines
        </p>
    </a>

</div>
                
            </div>
            <div class="col-md-8 col-sm-12">
                
        


        

<h1>
    
    <strong>Defining views</strong>
    
</h1>

<ol class="submenu">
    <li>




    

<a href="#registering-views">Registering views</a></li>
    <li>




    

<a href="#priorities">Priorities</a></li>
    <li>




    

<a href="#parameters">Parameters</a></li>
    <li>




    

<a href="#special-implicit-values">Special implicit values</a></li>
    <li>




    

<a href="#filters">Filters</a></li>
</ol>


        


    


        


    

<h3>
    
    
    <strong>Registering views</strong>
    
    <a id="registering-views" href="#registering-views" class="link-anchor"><span class="fa fa-link"></span></a>
</h3>

<p>
    Views are registered on an instance of a <code>Opis\View\ViewRouter</code> class
    with the help of the <code>handle</code> method. The method takes as arguments
    the view's name and a callback value. The callback must return the path were the
    content of the view resides.
</p>

<div class="highlight"><pre><code class="php"><span class="k">use</span> <span class="nx">Opis\View\ViewRouter</span><span class="p">;</span>

<span class="nv">$view</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ViewRouter</span><span class="p">();</span>

<span class="nv">$view</span><span class="o">-&gt;</span><span class="na">handle</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">,</span> <span class="k">function</span><span class="p">(){</span>
    <span class="k">return</span>  <span class="s1">&#39;/path/to/view.php&#39;</span><span class="p">;</span>
<span class="p">});</span>
</code></pre></div>


        


    


        


    

<h3>
    
    
    <strong>Priorities</strong>
    
    <a id="priorities" href="#priorities" class="link-anchor"><span class="fa fa-link"></span></a>
</h3>

<p>
    Each defined view has an associated priority, which by default is <code>0</code>
    (zero). The priorities are meant to be used as a mechanism that allows you to overwrite
    existing routes by simply adding new routes that have higher priorities assigned.
</p>

<p>
    Specifying a route's priority is done by passing a number, representing the priority, as
    the third argument to the <code>handle</code> method.
</p>

<div class="highlight"><pre><code class="php"><span class="nv">$view</span><span class="o">-&gt;</span><span class="na">handle</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">,</span> <span class="k">function</span><span class="p">(){</span>
    <span class="k">return</span>  <span class="s1">&#39;/path/to/view.php&#39;</span><span class="p">;</span>
<span class="p">},</span> <span class="mi">1</span><span class="p">);</span>
</code></pre></div>


        


    


        


    

<h3>
    
    
    <strong>Parameters</strong>
    
    <a id="parameters" href="#parameters" class="link-anchor"><span class="fa fa-link"></span></a>
</h3>

<p>
    A view's name can also be divided into segments separated by <code>.</code> signs.
    View names and view name's segments can be transformed into parameters by enclosing
    them with curly braces. The parameters can be used by the view's callback,
    by simply referencing them into the callback's arguments list. 
</p>

<div class="highlight"><pre><code class="php"><span class="nv">$view</span><span class="o">-&gt;</span><span class="na">handle</span><span class="p">(</span><span class="s1">&#39;{foo}&#39;</span><span class="p">,</span> <span class="k">function</span><span class="p">(</span><span class="nv">$foo</span><span class="p">){</span>
    <span class="k">return</span>  <span class="s1">&#39;/path/to/&#39;</span> <span class="o">.</span> <span class="nv">$foo</span> <span class="o">.</span> <span class="s1">&#39;.php&#39;</span><span class="p">;</span>
<span class="p">});</span>

<span class="nv">$view</span><span class="o">-&gt;</span><span class="na">handle</span><span class="p">(</span><span class="s1">&#39;foo.{bar}&#39;</span><span class="p">,</span> <span class="k">function</span><span class="p">(</span><span class="nv">$bar</span><span class="p">){</span>
    <span class="k">return</span>  <span class="s1">&#39;/path/to/&#39;</span> <span class="o">.</span> <span class="nv">$bar</span> <span class="o">.</span> <span class="s1">&#39;.php&#39;</span><span class="p">;</span>
<span class="p">});</span>
</code></pre></div>

<p>
    Of course, you can define as many parameters as you need. 
</p>

<div class="highlight"><pre><code class="php"><span class="nv">$view</span><span class="o">-&gt;</span><span class="na">handle</span><span class="p">(</span><span class="s1">&#39;foo.{bar}.baz.{qux}&#39;</span><span class="p">,</span> <span class="k">function</span><span class="p">(</span><span class="nv">$bar</span><span class="p">,</span> <span class="nv">$qux</span><span class="p">){</span>
    <span class="c1">//</span>
<span class="p">});</span>
</code></pre></div>


    


    


        


    

<h4>
    
    
    <strong>Optional parameters</strong>
    
    <a id="optional-parameters" href="#optional-parameters" class="link-anchor"><span class="fa fa-link"></span></a>
</h4>

<p>
    Specifying that a parameter is optional can be done by adding a <code>?</code> mark after the parameter name. 
</p>

<div class="highlight"><pre><code class="php"><span class="nv">$view</span><span class="o">-&gt;</span><span class="na">handle</span><span class="p">(</span><span class="s1">&#39;foo.{bar?}&#39;</span><span class="p">,</span> <span class="k">function</span><span class="p">(</span><span class="nv">$bar</span> <span class="o">=</span> <span class="s1">&#39;baz&#39;</span><span class="p">){</span>
    <span class="k">return</span>  <span class="s1">&#39;/path/to/&#39;</span> <span class="o">.</span> <span class="nv">$bar</span> <span class="o">.</span> <span class="s1">&#39;.php&#39;</span><span class="p">;</span>
<span class="p">});</span>
</code></pre></div>


    


    


        


    

<h4>
    
    
    <strong>Implicit values</strong>
    
    <a id="implicit-values" href="#implicit-values" class="link-anchor"><span class="fa fa-link"></span></a>
</h4>

<p>
    You can set an implicit value for a parameter by using the <code>implicit</code> method. 
</p>

<div class="highlight"><pre><code class="php"><span class="nv">$view</span><span class="o">-&gt;</span><span class="na">handle</span><span class="p">(</span><span class="s1">&#39;foo.{bar?}&#39;</span><span class="p">,</span> <span class="k">function</span><span class="p">(</span><span class="nv">$bar</span><span class="p">){</span>
    <span class="k">return</span>  <span class="s1">&#39;/path/to/&#39;</span> <span class="o">.</span> <span class="nv">$bar</span> <span class="o">.</span> <span class="s1">&#39;.php&#39;</span><span class="p">;</span>
<span class="p">})</span>
<span class="o">-&gt;</span><span class="na">implicit</span><span class="p">(</span><span class="s1">&#39;bar&#39;</span><span class="p">,</span> <span class="s1">&#39;baz&#39;</span><span class="p">);</span>
</code></pre></div>


    


    


        


    

<h4>
    
    
    <strong>Regex constraints</strong>
    
    <a id="regex-constraints" href="#regex-constraints" class="link-anchor"><span class="fa fa-link"></span></a>
</h4>

<p>
    You can add regex constraints to parameters by using the <code>where</code> method.
    The method takes as arguments the parameter name and a regular expression defining how
    the parameter should be constrained. 
</p>

<div class="highlight"><pre><code class="php"><span class="nv">$view</span><span class="o">-&gt;</span><span class="na">handle</span><span class="p">(</span><span class="s1">&#39;foo.{bar}&#39;</span><span class="p">,</span> <span class="k">function</span><span class="p">(</span><span class="nv">$bar</span><span class="p">){</span>
    <span class="k">return</span>  <span class="s1">&#39;/path/to/&#39;</span> <span class="o">.</span> <span class="nv">$bar</span> <span class="o">.</span> <span class="s1">&#39;.php&#39;</span><span class="p">;</span>
<span class="p">})</span>
<span class="o">-&gt;</span><span class="na">where</span><span class="p">(</span><span class="s1">&#39;bar&#39;</span><span class="p">,</span> <span class="s1">&#39;[a-z][a-z0-9]+&#39;</span><span class="p">);</span>
</code></pre></div>


        


    


        


    

<h3>
    
    
    <strong>Special implicit values</strong>
    
    <a id="special-implicit-values" href="#special-implicit-values" class="link-anchor"><span class="fa fa-link"></span></a>
</h3>

<p>
     There are two special implicit values: <code>self</code> and <code>path</code>.
     The <code>self</code> implicit's value is the current route instance and <code>path</code>
     implicit's value is the current path object containing the view's name. The path object
     is an instance of the <code>Opis\Routing\Path</code> class.
</p>

<div class="highlight"><pre><code class="php"><span class="nv">$view</span><span class="o">-&gt;</span><span class="na">handle</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">,</span> <span class="k">function</span><span class="p">(</span><span class="nv">$self</span><span class="p">,</span> <span class="nv">$path</span><span class="p">){</span>
    <span class="c1">// ..</span>
<span class="p">});</span>
</code></pre></div>


        


    


        


    

<h3>
    
    
    <strong>Filters</strong>
    
    <a id="filters" href="#filters" class="link-anchor"><span class="fa fa-link"></span></a>
</h3>

<p>
    You can add a filter to a view by passing a callback value to the <code>filter</code> method.
    The callback must return either <code>true</code> or <code>false</code>.
</p>

<div class="highlight"><pre><code class="php"><span class="nv">$view</span><span class="o">-&gt;</span><span class="na">handle</span><span class="p">(</span><span class="s1">&#39;foo.{bar}&#39;</span><span class="p">,</span> <span class="k">function</span><span class="p">(</span><span class="nv">$bar</span><span class="p">){</span>
    <span class="k">return</span>  <span class="s1">&#39;/path/to/&#39;</span> <span class="o">.</span> <span class="nv">$bar</span> <span class="o">.</span> <span class="s1">&#39;.php&#39;</span><span class="p">;</span>
<span class="p">})</span>
<span class="o">-&gt;</span><span class="na">filter</span><span class="p">(</span><span class="k">function</span><span class="p">(</span><span class="nv">$bar</span><span class="p">){</span>
    <span class="k">return</span> <span class="nx">file_exist</span><span class="p">(</span><span class="s1">&#39;/path/to/&#39;</span> <span class="o">.</span> <span class="nv">$bar</span> <span class="o">.</span> <span class="s1">&#39;.php&#39;</span><span class="p">);</span>
<span class="p">});</span>
</code></pre></div>


                





    
        
            
                
            
        
    

    
        
            
                
            
        
    

    
        
            
        
    

    
        
            
                
                
            
        
    

    


<ul class="pager">
  
  <li class="previous"><a href="/view/components.html" title="The components">&larr; Back</a></li>
  
  
  <li class="next"><a href="/view/render.html" title="Rendering views">Next &rarr;</a></li>
  
</ul>
                
            </div>
        </div>
    </div>
</section>
<a href="#0" id="back-to-top">
    <span class="fa fa-arrow-up"></span>
</a>
<script>
    (function($){
        
        $(document).ready(function(){
           var visible = false;
           $(window).scroll(function(){
                var top = $(this).scrollTop();
                
                if (top >= 100 && !visible) {
                   visible = true;
                   $('#back-to-top').fadeIn().show();
                 }
                 if(top < 100 && visible){
                   visible = false;
                   $('#back-to-top').fadeOut();  
                 }
           });
           
            $('#back-to-top').click(function(){
                $('html, body').animate({scrollTop : 0},800);
                return false;
            });
            
        });
        
        
    })(jQuery);
</script>
<footer class="text-center text-muted">
    Copyright &copy; 2014-2015 Marius Sarca. All rights reserved.
</footer>

    </body>
</html>
